{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.eu-gb.cf.cloud.ibm.com",
      "Org": "LegacyBoys",
      "Space": "dev"
    },
    "Name": "sriram.venkatasubramaniam@cognizant.com-914dcc850c3d435087b08c774f872643",
    "Instrumentation": {
      "domain": "eu-gb.mybluemix.net",
      "instances": "1"
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}